<!DOCTYPE html>
<html lang="en">

<head>
    <title>License</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="row align-items-center justify-content-center">
        <div class="col-12 col-md-6 p-5">
            <h1 class="text-primary" th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]!</h1>
        <form th:action="@{/logout}" method="post">
          <!--   <div class="alert alert-warning" th:text="${message}"></div> -->
            <div class="d-flex justify-content-end">
            <input class="btn btn-primary" type="submit" value="Sign Out"/>
        </div>
        </form>
        
         </div>
    </div>      
    </body>
</html>